/* import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Krub', 'Lato', sans-serif;
    color: #3a3a3a
}

#nav-wrapper {
    background-color: #f7f9fb;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.button {
    background-color: #81927d;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 4%;
    margin: 0 auto;
    font-family: 'Chivo', 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button:hover {
    background-color: #505c4d;
}

hr {
    border-top: 2px solid #505c4d;
    width: 80%;
    margin: 0 auto;
}

/* headings and logo */
h1,
h2,
h3 {
    font-family: 'Chivo', 'Lato', sans-serif;
    text-transform: uppercase;
}

#logo {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    width: 15%;
}

/* navigation links */
#menu {
    font-size: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* homepage hero image */
#hero-outer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    z-index: -1;
    background-color: rgba(88, 92, 96, 0.7);
    background-blend-mode: multiply;

    /* animates hero image */
    animation: heroFade 3s;
}

/* creates the hero image fade-in animation */
@keyframes heroFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#main-heading {
    color: #f7f9fb;
    z-index: 1;
    padding-top: 200px;
    font-size: 200%;
    letter-spacing: 2px;

    /* animates title text */
    animation: fadeIn 5s;
}

#sub-heading {
    color: #f7f9fb;
    padding-top: 110px;
    letter-spacing: 2px;
    font-size: 120%;
    /* animates sub-title text */
    animation: fadeIn 5s;
}

/* creates the main title fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#hero-button {
    /* animates button fade-in */
    animation: fadeIn 5s;
}

#hero-image>div {
    margin-top: 100px;
}

.front {
    z-index: 3;
}

/* intro section */
#intro,
#insurance,
#reviews {
    height: 600px;
}

#intro-head,
#insurance {
    text-align: center;
    padding: 30px 0 30px 0;
    margin-top: 50px;
}

#intro-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.intro-physio-col {
    border-radius: 4%;
    box-shadow: 5px 10px #888888;
    flex: 20%;
    box-sizing: border-box;
    height: 300px;
    margin: 20px;
    padding: 30px;
    color: #f7f9fb;
    background-color: #687864;
    line-height: 1.6;
}

.intro-physio-col h3 {
    text-transform: capitalize;
}

.intro-physio-col p {
    padding-top: 10px;
}

#intro-button {
    width: 100%;
    padding-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* insurance section */
#insurance {
    /*background-color: #717171;
    color: #f7f9fb;*/
    line-height: 1.6;
}

#insurance-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#insurance h2,
h3 {
    letter-spacing: 4px;
}

#insurance h3 {
    font-weight: 300;
    font-size: 100%;
    margin-bottom: 15px;
    margin-top: 50px;
}

#insurance h2 {
    margin-bottom: 50px;
}

#insurance-par {
    margin-bottom: 60px;
}

.insurance-images {
    width: 20%;
    margin: 20px;
    padding: 30px;
}

/* reviews section */
#reviews {
    /*background-color: #f7f9fb;*/
}

#reviews-head {
    text-align: center;
    padding: 30px 0 30px 0;
    letter-spacing: 4px;
}

/* reviews slider (YouTube Tutorial by Skillthrive @ https: //www.youtube.com/watch?v=McPdzhLRzCg ) */
.reviews-container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    /* hide images that are overflowing outside the container */
    overflow-x: auto;
    /* change the behaviour of the scrollbar to create slider effect */
    scroll-snap-type: x mandatory;
    /* create a smooth animation when sliding */
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    /* shorthand set flexGrow, flexShrink, flexBasis */
    flex: 1, 0, 100%;
    /* complete slider scroll snap effect */
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;

    /* centre the nav */
    left: 50%;
    transform: translateX(-50%);

    /* ensure nav stays on top of slider */
    z-index: 2;
}

.slider-nav a {
    /* style the slider navigation buttons */
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #f7f9fb;
    opacity: 0.75;
    /* smooth animation when user hovers over button */
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    /* complete hover effect */
    opacity: 1;
}

/* contact us form */
.form-section {
    clear: left;
    background: url("../images/form-background.jpg");
    background-color: rgba(88, 92, 96, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-bottom: 1px;
}

.contact-us-form {
    margin: 150px 10% 0 0;
    color: #f7f9fb;
    background-color: rgba(80, 92, 77, 0.8);
    max-width: 500px;
    position: absolute;
    padding: 30px;
    left: 10%;
}

.contact-us-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.text-input {
    background: transparent;
    color: #f7f9fb;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

#message {
    height: 75px;
}

.submit-enquiry-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.submit-enquiry-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* footer */
footer {
    color: #f7f9fb;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}

#footer-box {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #505c4d;
}

.footer-col {
    width: 33%;
    padding-top: 30px;
    flex: 20%;
    box-sizing: border-box;
}

#socials {
    padding: 10px;
}

#socials-wrapper {
    margin-top: 105px;
}

#socials li {
    display: inline;
}

#socials i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #f7f9fb;
}

#opening-times table {
    width: 60%;
    line-height: 30px;
}

#contact-info ul {
    line-height: 30px;
    list-style-type: none;
}

#contact-info i {
    padding-right: 20px;
}

.footer-link {
    text-decoration: none;
    color: #f7f9fb;
}

.footer-link:hover {
    color: #3a3a3a;
}