* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    /* font-family: 
    font-weight: */
    color: #3a3a3a
}

#nav-wrapper {
    background-color: #f7f9fb;
    position: fixed;
    width: 100%;
}

/* headings and logo */
h1,
h2 {}

#logo {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    width: 15%;
}

/* navigation links */
#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* homepage hero image */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

/* intro section */
#intro,
#insurance,
#reviews {
    height: 600px;
}

#intro-head,
#insurance {
    text-align: center;
    padding: 30px 0 30px 0;
}

#intro-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.intro-physio-col {
    border-radius: 4%;
    box-shadow: 5px 10px #888888;
    flex: 20%;
    box-sizing: border-box;
    height: 300px;
    margin: 20px;
    padding: 30px;
    color: #f7f9fb;
    background-color: #687864;
}

#intro-button {
    width: 100%;
    padding-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #5085a5;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 4%;
    margin: 0 auto;
}

.button:hover {
    background-color: #31708e;
}

/* insurance section */
#insurance {
    background-color: #5085a5;
}

#insurance-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.insurance-images {
    width: 20%;
    margin: 20px;
    padding: 30px;
}

/* reviews section */
#reviews {
    background-color: #f7f9fb;
}

/* footer */
footer {
    color: #f7f9fb;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}

#footer-box {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #31708e;
}

.footer-col {
    width: 33%;
    padding-top: 30px;
    flex: 20%;
    box-sizing: border-box;
}

#socials {
    padding: 10px;
}

footer img {
    width: 50%;
}

#socials li {
    display: inline;
}

#socials i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #f7f9fb;
}